*{
  margin: 0;
  padding: 0;
  
}
.helloName p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color:rgb(16, 166, 172);
  font-weight: bold;
}
.button1{
  width: 100px;
  height: 50px;
  background-color: rgb(177, 121, 230);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}

.button2{
  width: 100px;
  height: 50px;
  background-color: rgb(97, 206, 240);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}

.card{
  font-size: 30px;
  color:royalblue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.colorInput{
  width:100px;
  height: 30px;
  border:3px solid red;
  margin-left: 20px;
}

.palette{
 margin:0 auto;
 background-color:#D9D8D8;
 padding-top: 30px;
 width:80%;
 height:700px;
}

header{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color:rgb(15, 170, 231);
}

.inputCode{
  width: 200px;
  height:50px;
  border:3px solid rgb(15, 170, 231);
  box-shadow: 0 0 20px rgb(15, 170, 231);
  font-size: 25px;
  outline: none;
  margin-left: 20px;
}
.colorList{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
  margin-left: 300px;
 
  width: 100px;
  height: 100px;
}

.colorBox{
  width: 200px;
  height: 200px;
  /* border:3px solid red; */
  
  list-style: none;
}