.helloName p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color:rgb(16, 166, 172);
  font-weight: bold;
}
.button1{
  width: 100px;
  height: 50px;
  background-color: rgb(177, 121, 230);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}

.button2{
  width: 100px;
  height: 50px;
  background-color: rgb(97, 206, 240);
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 30px;
}

.card{
  font-size: 30px;
  color:royalblue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.colorInput{
  width:100px;
  height: 30px;
  border:3px solid red;
  margin-left: 20px;
}